@import "tailwindcss";

@plugin "daisyui";





/* @plugin "daisyui/theme" {
  name: "forest";
  default: dark;
  
  color-scheme: "dark";
  --color-base-100: oklch(20.84% 0.008 17.911);
  --color-base-200: oklch(18.522% 0.007 17.911);
  --color-base-300: oklch(16.203% 0.007 17.911);
  --color-base-content: oklch(83.768% 0.001 17.911);
  --color-primary: oklch(68.628% 0.185 148.958);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(69.776% 0.135 168.327);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(70.628% 0.119 185.713);
  --color-accent-content: oklch(14.125% 0.023 185.713);
  --color-neutral: oklch(30.698% 0.039 171.364);
  --color-neutral-content: oklch(86.139% 0.007 171.364);
  --color-base-100-content: oklch(83.768% 0.001 17.911);
  --color-base-200-content: oklch(83.768% 0.001 17.911);
  --color-base-300-content: oklch(83.768% 0.001 17.911);
  --color-info: oklch(70.628% 0.119 185.713);
  --color-info-content: oklch(14.125% 0.023 185.713);
  --color-success: oklch(68.628% 0.185 148.958);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(69.776% 0.135 168.327);
  --color-warning-content: oklch(13.955% 0.027 168.327);
  --color-error: oklch(70.628% 0.119 185.713);
  --color-error-content: oklch(14.125% 0.023 185.713);
} */



/* 
@plugin "daisyui/theme" {
  name: "sunset";
  default: dark;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(22% 0.019 237.69);
  --color-base-200: oklch(20% 0.019 237.69);
  --color-base-300: oklch(18% 0.019 237.69);
  --color-base-content: oklch(77.383% 0.043 245.096);
  --color-primary: oklch(74.703% 0.158 39.947);
  --color-primary-content: oklch(14.94% 0.031 39.947);
  --color-secondary: oklch(72.537% 0.177 2.72);
  --color-secondary-content: oklch(14.507% 0.035 2.72);
  --color-accent: oklch(71.294% 0.166 299.844);
  --color-accent-content: oklch(14.258% 0.033 299.844);
  --color-neutral: oklch(26% 0.019 237.69);
  --color-neutral-content: oklch(70% 0.019 237.69);
  --color-info: oklch(85.559% 0.085 206.015);
  --color-info-content: oklch(17.111% 0.017 206.015);
  --color-success: oklch(85.56% 0.085 144.778);
  --color-success-content: oklch(17.112% 0.017 144.778);
  --color-warning: oklch(85.569% 0.084 74.427);
  --color-warning-content: oklch(17.113% 0.016 74.427);
  --color-error: oklch(85.511% 0.078 16.886);
  --color-error-content: oklch(17.102% 0.015 16.886);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
} */
